Repository GoogleCloudPlatform/oracle-database-assessment, pull requests merged in 2022-02, with the labels that each got.

#67 Added all basic views for the basic tables
  db_assessment/import_db_assessment.py
  db_assessment/opConfig/transformers.json
  db_assessment/rules_engine.py
  db_assessment/version.py
  report/report.sql
Labels: enhancement, priority: p2, team: db_rules_eng

#56 Enhancement equalize number of columns between versions
  db_assessment/dbSQLCollector/minimum_select_grants_for_targets_12c_AND_ABOVE.sql
  db_assessment/dbSQLCollector/minimum_select_grants_for_targets_ONLY_FOR_11g.sql
  db_assessment/dbSQLCollector/oracle_db_assessment_12c_AND_ABOVE.sql
  db_assessment/dbSQLCollector/oracle_db_assessment_ONLY_FOR_11g.sql
  db_assessment/opConfig/transformers.json
Labels: enhancement, priority: p3, team: col_eng_util

#74 Sample output for SQL scripts version 2.0.3
  sample/datacollection/sample11g.tar.gz
  sample/datacollection/sample19c.tar.gz
Labels: priority: p2, team: col_eng_util

#83 Eri basicviews
  db_assessment/opConfig/transformers.json
Labels: priority: p0, team: db_rules_eng

#87 Added more views for analysis
  db_assessment/opConfig/transformers.json
Labels: priority: p1, team: db_rules_eng

#91 Issue68 - Fix error message
  db_assessment/optimusprime.py
Labels: bug, priority: p0, team: opt_prime_util
