Repository GoogleCloudPlatform/oracle-database-assessment, pull requests merged in 2022-04, with the labels that each got.

#114 Issue 80
  db_assessment/import_db_assessment.py
  db_assessment/optimusprime.py
  db_assessment/rules_engine.py
Labels: priority: p0, team: opt_prime_util

#118 Issue 111 fixed
  db_assessment/import_db_assessment.py
  db_assessment/opConfig/transformers.json
  db_assessment/optimusprime.py
Labels: priority: p1, priority: p2, team: opt_prime_util

#119 Issue 110: Invalid Files Erros to be logged in operrors table
  db_assessment/import_db_assessment.py
  db_assessment/optimusprime.py
Labels: priority: p1, team: opt_prime_util

#121 added project keyword
  README.md
Labels: documentation

#123 Add SQL Script version to the Issue Form template
  .github/ISSUE_TEMPLATE/bug report.yaml
  .github/ISSUE_TEMPLATE/document.yaml
  .github/ISSUE_TEMPLATE/enhancement request.yaml
  .github/ISSUE_TEMPLATE/new feature.yaml
Labels: enhancement

#126 Smashed bug#23. DB Name with underscores was creating issues
  db_assessment/optimusprime.py
Labels: bug, team: opt_prime_util

#127 Issue 117
  README.md
  db_assessment/optimusprime.py
Labels: enhancement, priority: p1, team: opt_prime_util

#129 Op v205
  db_assessment/dbSQLCollector/oracle_db_assessment_12c_AND_ABOVE.sql
  db_assessment/dbSQLCollector/oracle_db_assessment_ONLY_FOR_11g.sql
  db_assessment/opConfig/transformers.json
Labels: priority: p0, priority: p1, team: col_eng_util

#130 Added support to -sep flag to change how OP handles file separator
  db_assessment/import_db_assessment.py
  db_assessment/optimusprime.py
  db_assessment/rules_engine.py
Labels: bug, priority: p0, team: opt_prime_util
