Repository GoogleCloudPlatform/oracle-database-assessment, pull requests merged in 2022-05, with the labels that each got.

#125 beautiful table output included in the end
  db_assessment/import_db_assessment.py
  db_assessment/optimusprime.py
  requirements.txt
Labels: enhancement, priority: p1, team: opt_prime_util

#137 Track Optimus Prime usage by calling client INFO API for every DB import
  db_assessment/import_db_assessment.py
Labels: enhancement, priority: p3

#134 Origin/add flags skip data load
  db_assessment/import_db_assessment.py
  db_assessment/optimusprime.py
  db_assessment/rules_engine.py
Labels: priority: p1, team: opt_prime_util
